*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#map{
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    margin:20% auto;
}
.row{
    flex: 1;
    display: flex;
    margin: 1px 0;
}
.cell{
    flex: 1;
    background: #efe2b3;
    border-radius: 2px;
    margin: 0 1px;
}